In [1]:
#https://stackoverflow.com/questions/15891038/change-data-type-of-columns-in-pandas
import pandas as pd
import numpy as np

In [2]:
ser = pd.Series([1,1.5,'a'])

In [6]:
df_a = pd.to_numeric(ser,errors='raise')
df_a

ValueError: Unable to parse string "a" at position 2

In [8]:
df_a = pd.to_numeric(ser,errors='coerce')
df_a

0    1.0
1    1.5
2    NaN
dtype: float64

In [25]:
b = [['a',10,100],['b',20,200]]
b_cols = ['c1','c2','c3']
df_b = pd.DataFrame(b,columns=b_cols)
print(df_b)
#apply
df_b[['c2','c3']] = df_b[['c2','c3']].apply(pd.to_numeric) 
print(df_b.dtypes)

#astype
df_b[['c2','c3']] = df_b[['c2','c3']].astype(float) 
print(df_b.dtypes)

  c1  c2   c3
0  a  10  100
1  b  20  200
c1    object
c2     int64
c3     int64
dtype: object
c1     object
c2    float64
c3    float64
dtype: object

In [23]:
b = [['a',10,100.11],['b',20,200.22]]
b_cols = ['c1','c2','c3']
df_b = pd.DataFrame(b,columns=b_cols)
print(df_b)
#infer_objects
df_b = df_b.infer_objects()
df_b.dtypes

  c1  c2      c3
0  a  10  100.11
1  b  20  200.22

c1     object
c2      int64
c3    float64
dtype: object