In [4]:
import pandas as pd
import numpy as np

In [10]:
df_a = pd.DataFrame({
    'b': np.random.choice([3,6,9,np.nan],5),
    'c': np.random.choice(['aa','bb','cc'],5)
})
df_a

     b   c
0  9.0  bb
1  6.0  bb
2  3.0  bb
3  9.0  aa
4  3.0  aa

In [11]:
del df_a['b']
df_a

    c
0  bb
1  bb
2  bb
3  aa
4  aa

In [21]:
df_b = df_a.columns.drop('c',1)
df_b

Index([], dtype='object')