In [1]:
#https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas
import pandas as pd
import numpy as np

In [8]:
df_a = pd.DataFrame(np.random.randn(5,5),columns=list('abcde'),index=['i1','i2','i3','i4','i5'])
df_a

           a         b         c         d         e
i1  0.457927 -1.367125  0.098990  0.209963 -0.554169
i2 -1.804671  1.012876 -0.745989 -0.287747 -1.420975
i3  0.198437  0.498339  0.542231 -0.427908  0.482417
i4  0.492413 -0.857842 -0.978174 -0.236399  0.789442
i5 -0.845942 -0.236043 -1.652472 -0.878454  0.677147

In [14]:
# applying a function on 1D arrays to each column or row
f_max = lambda x: x.max()
print(df_a.apply(f_max))

f_min = lambda x: x.min()
print(df_a.apply(f_min))

a    0.492413
b    1.012876
c    0.542231
d    0.209963
e    0.789442
dtype: float64
a   -1.804671
b   -1.367125
c   -1.652472
d   -0.878454
e   -1.420975
dtype: float64

In [17]:
#  Element-wise Python functions
# applymap
f_format = lambda x: '%.2f' % x

print(df_a.applymap(f_format))

        a      b      c      d      e
i1   0.46  -1.37   0.10   0.21  -0.55
i2  -1.80   1.01  -0.75  -0.29  -1.42
i3   0.20   0.50   0.54  -0.43   0.48
i4   0.49  -0.86  -0.98  -0.24   0.79
i5  -0.85  -0.24  -1.65  -0.88   0.68

In [19]:
#a map method for applying an element-wise function:
df_a['a'].map(f_format)

i1     0.46
i2    -1.80
i3     0.20
i4     0.49
i5    -0.85
Name: a, dtype: object