In [1]:
#https://stackoverflow.com/questions/16476924/how-to-iterate-over-rows-in-a-dataframe-in-pandas
import pandas as pd
import numpy as np

In [7]:
int_array_length=10
df_a = pd.DataFrame({
    'a': np.random.randn(int_array_length),    
    'b': np.random.choice([3,6,9,np.nan],int_array_length),
    'e': np.tile(range(5),2)
})
df_a

          a    b  e
0 -1.097763  9.0  0
1  0.763393  3.0  1
2  0.927238  9.0  2
3 -0.089845  9.0  3
4  0.515661  NaN  4
5  2.057149  3.0  0
6  0.823967  6.0  1
7  0.768685  9.0  2
8 -0.026568  3.0  3
9  0.776757  NaN  4

In [20]:
for i,row in df_a.iterrows():
    print("{}\n{}".format(str(i),row))
    print("{}\n{}".format(str(i),row['b']))

0
a   -1.097763
b    9.000000
e    0.000000
Name: 0, dtype: float64
0
9.0
1
a    0.763393
b    3.000000
e    1.000000
Name: 1, dtype: float64
1
3.0
2
a    0.927238
b    9.000000
e    2.000000
Name: 2, dtype: float64
2
9.0
3
a   -0.089845
b    9.000000
e    3.000000
Name: 3, dtype: float64
3
9.0
4
a    0.515661
b         NaN
e    4.000000
Name: 4, dtype: float64
4
nan
5
a    2.057149
b    3.000000
e    0.000000
Name: 5, dtype: float64
5
3.0
6
a    0.823967
b    6.000000
e    1.000000
Name: 6, dtype: float64
6
6.0
7
a    0.768685
b    9.000000
e    2.000000
Name: 7, dtype: float64
7
9.0
8
a   -0.026568
b    3.000000
e    3.000000
Name: 8, dtype: float64
8
3.0
9
a    0.776757
b         NaN
e    4.000000
Name: 9, dtype: float64
9
nan

In [21]:
for row in df_a.itertuples():
    print('{}'.format(row))
    print('{}'.format(getattr(row,'b')))

Pandas(Index=0, a=-1.0977631482647612, b=9.0, e=0)
9.0
Pandas(Index=1, a=0.7633926316805845, b=3.0, e=1)
3.0
Pandas(Index=2, a=0.9272379098077294, b=9.0, e=2)
9.0
Pandas(Index=3, a=-0.08984500680765234, b=9.0, e=3)
9.0
Pandas(Index=4, a=0.515661263069276, b=nan, e=4)
nan
Pandas(Index=5, a=2.057148710866046, b=3.0, e=0)
3.0
Pandas(Index=6, a=0.823967076369382, b=6.0, e=1)
6.0
Pandas(Index=7, a=0.7686854804515162, b=9.0, e=2)
9.0
Pandas(Index=8, a=-0.02656832002484609, b=3.0, e=3)
3.0
Pandas(Index=9, a=0.7767573114289807, b=nan, e=4)
nan

In [23]:
list(df_a)

['a', 'b', 'e']

In [26]:
df_a.columns.values.tolist()

['a', 'b', 'e']

In [30]:
print(df_a)
df_a[pd.notnull(df_a['b'])]

          a    b  e
0 -1.097763  9.0  0
1  0.763393  3.0  1
2  0.927238  9.0  2
3 -0.089845  9.0  3
4  0.515661  NaN  4
5  2.057149  3.0  0
6  0.823967  6.0  1
7  0.768685  9.0  2
8 -0.026568  3.0  3
9  0.776757  NaN  4

          a    b  e
0 -1.097763  9.0  0
1  0.763393  3.0  1
2  0.927238  9.0  2
3 -0.089845  9.0  3
5  2.057149  3.0  0
6  0.823967  6.0  1
7  0.768685  9.0  2
8 -0.026568  3.0  3