In [4]:
import pandas as pd
import numpy as np
import io
import requests
import warnings

url_content = requests.get('https://raw.githubusercontent.com/vivek-bombatkar/Pandas---My-learning-notes/master/Datasets/train.csv').content

df_titanic_passengers = pd.read_csv(io.StringIO(url_content.decode('utf-8')))

df_titanic_passengers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [8]:
df_titanic_passengers['Survived'].value_counts(normalize=True)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [11]:
df_titanic_passengers['Sex'].value_counts(normalize=True)

male      0.647587
female    0.352413
Name: Sex, dtype: float64

In [15]:
df_Survived = df_titanic_passengers[ df_titanic_passengers['Survived'] ==1]
df_Survived['Sex'].value_counts()

female    233
male      109
Name: Sex, dtype: int64

In [18]:
sex_all_series = df_titanic_passengers['Sex'].value_counts()
sex_survival_series = df_Survived['Sex'].value_counts()
df_sex_comparision = pd.DataFrame({'AllPassengers':sex_all_series, 'Survivor':sex_survival_series})

df_sex_comparision

        AllPassengers  Survivor
female            314       233
male              577       109

In [21]:
df_sex_comparision['survival_rate'] = df_sex_comparision['Survivor']/df_sex_comparision['AllPassengers']
df_sex_comparision

        AllPassengers  Survivor  survival_rate
female            314       233       0.742038
male              577       109       0.188908

In [24]:
df_titanic_passengers['ageCat']=np.nan
df_titanic_passengers['ageCat'][df_titanic_passengers['Age'] < 18 ] = 'Kid'
df_titanic_passengers['ageCat'][df_titanic_passengers['Age'] >= 18 ] = 'Adult'
df_titanic_passengers['ageCat'].value_counts()

c:\users\vidhi\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\vidhi\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Adult    601
Kid      113
Name: ageCat, dtype: int64

In [26]:
df_Survived = df_titanic_passengers[ df_titanic_passengers['Survived'] ==1]
df_Survived['ageCat'].value_counts()

Adult    229
Kid       61
Name: ageCat, dtype: int64

In [ ]:
df_sex_comparision['survival_rate'] = df_sex_comparision['Survivor']/df_sex_comparision['AllPassengers']
df_sex_comparision