In [2]:
import pandas as pd

In [16]:
df_a = pd.DataFrame({'$a':[10,100],'$b':[20,200]})
df_a

    $a   $b
0   10   20
1  100  200

In [21]:
df_a.columns = [['a','b']]
df_a.columns.names=['names of the cols']
df_a.index.names=['names of the index']
df_a

names of the cols     a    b
names of the index
0                    10   20
1                   100  200