In [4]:
import numpy as np
import pandas as pd

In [20]:
df_a = pd.DataFrame({
    'name': np.random.choice(['aa','bb','cc'],5),
    'sal': np.random.choice([100,120,200,np.nan],5)
})
df_a

  name    sal
0   aa  100.0
1   bb  200.0
2   cc  120.0
3   cc  100.0
4   aa  120.0

In [23]:
df_a[df_a['sal'].isin([100])]

  name    sal
0   aa  100.0
3   cc  100.0

In [26]:
df_a['sal'].isin([100])

0     True
1    False
2    False
3     True
4    False
Name: sal, dtype: bool

In [31]:
df_a[df_a['name']!='aa']

  name    sal
1   bb  200.0
2   cc  120.0
3   cc  100.0

In [39]:
df_a.set_index(['name'])
df_a.loc['aa']

KeyError: 'the label [aa] is not in the [index]'

In [43]:
df_a.index.isin(['aa'])

array([False, False, False, False, False])

In [48]:
mask = df_a['name'] == 'aa'
df_a[mask]

  name    sal
0   aa  100.0
4   aa  120.0

In [49]:
#pd.DataFrame.query
df_a.query('name == "aa"')

  name    sal
0   aa  100.0
4   aa  120.0