In [1]:
import pandas as pd

In [28]:
df_a = pd.DataFrame({'a':[10,5,10,10],'b':[20,7,20,21]})
df_a

    a   b
0  10  20
1   5   7
2  10  20
3  10  21

In [29]:
df_a.groupby(['a']).count()

    b
a
5   1
10  3

In [30]:
df_a.groupby(['b'])['b'].count()

b
7     1
20    2
21    1
Name: b, dtype: int64